@import "../../Assets/scss/conf";

.Container-Login {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 94.9vh;

    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

input {

}

button {
}